extends ./layout.pug

block title
  title #{title}

block content
  style(type="text/css")
   | .ick-glyph .fg { fill: #000;} .ick-glyph .bg { fill: #fff;}
   | span {margin: 0px 5px; font-size:"22pt"}

  each bs in badges 
    div(style="display:flex;align-items:center")
      div
        svg.ick-glyph(height="100px" width="100px")
          use(xlink:href="#"+bs.id)
      div(style="display:block")
        span
          b Title:
        span #{bs.title} 
        span
          b Desc:
        span #{bs.legend}
        div
          span
            b Tier:
          span #{bs.tier}
 
  div(style="display:flex;align-items:center")
    span
      b Medals:
    svg.ick-0(height="100px" width="100px")
      use(xlink:href="#annot-d")
    svg.ick-b(height="100px" width="100px")
      use(xlink:href="#annot-d")
    svg.ick-s(height="100px" width="100px")
      use(xlink:href="#annot-d")
    svg.ick-g(height="100px" width="100px")
      use(xlink:href="#annot-d")

  div(style="display:flex;align-items:center")
    span
      b Milestones:

    svg.ick-0(height="100px" width="100px")
      use(xlink:href="#annot-ds")
    svg.ick-1(height="100px" width="100px")
      use(xlink:href="#annot-ds")
    svg.ick-2(height="100px" width="100px")
      use(xlink:href="#annot-ds")
    svg.ick-3(height="100px" width="100px")
      use(xlink:href="#annot-ds")
    svg.ick-4(height="100px" width="100px")
      use(xlink:href="#annot-ds")
    svg.ick-5(height="100px" width="100px")
      use(xlink:href="#annot-ds")
    svg.ick-6(height="100px" width="100px")
      use(xlink:href="#annot-ds")
    svg.ick-7(height="100px" width="100px")
      use(xlink:href="#annot-ds")
    svg.ick-8(height="100px" width="100px")
      use(xlink:href="#annot-ds")
    svg.ick-9(height="100px" width="100px")
      use(xlink:href="#annot-ds")
    svg.ick-10(height="100px" width="100px")
      use(xlink:href="#annot-ds")

  
  #{glyphs}
  